<div class="parent1">
<div class="heading">{{title}}</div>
</div>

<div class="parent">

<div class="RegistrationCard">
<form action="" method="post">

<label for="name">Name:</label><input type="text" name="name" id="" placeholder="shivansh patel" required> <br>
<label for="email">Email:</label><input type="email" name="email" id="" placeholder="abc@example.com" required> <br>
<label for="password">Password:</label><input type="password" name="password" id="" placeholder="password" minlength="8" maxlength="16" required> <br>
<label for="Phone">Phone:</label><input type="tel" name="tel" id="" placeholder="phone number" minlength="10" maxlength="10" required> <br>

<input type="submit" value="submit" class="sbutton">
</form>
</div>

</div>